:root {
    --main-color: #08A6E4;
    --main-shadow: rgba(7, 172, 230, .16);
    --red: #FB3B64;
    --green: #55DFB4;
    --black: #000000;
    --grey: #A5A5A5;
    --light-grey: #F7F7F7;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1352px;
    justify-content: center;
    align-items: center;
}

.page-header {
    box-shadow: 0px 3px 6px #00000029;
}

.page-header .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-logo {
    text-decoration: none;
    color: var(--main-color);
    text-align: left;
    font-size: 32px;
    font-family: Raleway;
}

.page-nav {
    display: flex;
    justify-content: center;
}

.page-nav-list {
    display: flex;
    align-items: flex-end;
}

.page-nav-list li {
    height: 100%;
    border: 2px solid transparent;

}

.page-nav-list a {
    padding: 30px 0;
    text-decoration: none;
    font-size: 11px;
    font-family: Open Sans;
    color: var(--grey);
    display: flex;
    letter-spacing: 3.28px;
    margin: 0 30px;
}

.page-nav-list li:hover {
    border-color: transparent transparent var(--main-color) transparent;
}

.page-nav-list a:hover {
    color: var(--black);
}

.banner {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-family: Raleway;
    font-size: 49px;
    color: var(--black);
    padding: 20px;
    text-align: center;
    font-weight: bold;

}

.banner-text {
    font-family: Open Sans;
    font-size: 16px;
    color: var(--black);
}

.banner-button {
    padding: 30px;
    margin: 30px;
    border-radius: 40px;
    background-color: var(--main-color);
    box-shadow: 5px 10px 14px var(--main-shadow);
    justify-content: center;
    display: flex;
}

.banner-button a {
    text-decoration: none;
    font-size: 16px;
    color: var(--white);
    font-family: Open Sans;
}

.banner-image {
    height: 450px;
    width: 100%;
    background-image: url('../assets/Background.png');
    background-size: cover;
    background-position: top;
}

.page-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    color: var(--black);
    font-size: 30px;
    font-family: Raleway;
}

.popularity-section .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 40px 0;
}

.stats {
    max-width: 33%;
    margin: 60px 0;
}

.stats-photo-1 {
    height: 44px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    position: relative;
}

  .stats-photo-2 {
    height: 36px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    position: relative;
  }

  .stats-photo-3 {
    height: 44px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    position: relative;
  }

  .stats-photo-img {
    width: 100%;
    height: 100%;
  }

  .stats-photo-1::before {
    content: "";
    height: 55px;
    width: 55px;
    background-color: var(--red);
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 15px;
    z-index: -444;
  }

  .stats-photo-2::before {
    content: "";
    height: 55px;
    width: 55px;
    background-color: var(--main-color);
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 40px;
    z-index: -444;
  }

  .stats-photo-3::before {
    content: "";
    height: 55px;
    width: 55px;
    background-color: var(--green);
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: -444;
  }

.stats-numbers {
    height: 24px;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    letter-spacing: 5.96px;
    font-family: Raleway;
    display: flex;
    justify-content: center;
}

.stats-text {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: var(--grey);
    font-size: 14px;
    font-family: Raleway;
    font-weight: lighter;
}

.benefits-section {
    background-color: var(--light-grey);
    z-index: -98567896;
}

.benefit {
    background-color: var(--white);
    margin: 40px;
    display: flex;
    justify-content: center;
    height: 220px;
    z-index: -97899;
    
}

.benefit-content {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 30px;
}

.benefit-title {
    font-size: 33px;
    font-family: Raleway;
    color: var(--black);
    margin-bottom: 20px;

}

.last-article {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.benefit-text {
    font-size: 16px;
    font-family: Open Sans;
    font-weight: lighter;
    color: var(--black);
}

.benefit-photo-1 {
    width: 350px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 888;
}

.benefit-photo-2 {
    width: 220px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 888;
}

.last-article-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
}

.benefit-photo-3 {
    width: 300px;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
}

.benefit-photo-img {
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.benefit-photo-1::before {
    content: "";
    height: 155px;
    width: 155px;
    background-color: var(--red);
    opacity: 1;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    position: absolute;
    top: -40px;
    right: -10px;
    z-index: -1;
  }

  .benefit-photo-2::before {
    content: "";
    height: 195px;
    width: 195px;
    background-color: var(--main-color);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: -40px;
    z-index: -1;
  }

.line-1 {
    margin-top: 30px;
    height: 2px;
    width: 100%;
    background-color: var(--red);
}

.line-2 {
    margin-top: 30px;
    height: 2px;
    width: 100%;
    background-color: var(--main-color);
}

.pricing-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: Raleway;
    color: var(--black);
    margin-bottom: 40px;
}
.pricing-section .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.offer-1, .offer-3 {
    max-width: 33%;
    padding: 10px 50px;
    border: 2px solid var(--red);
    border-radius: 18px;
    position: relative;
}

.offer-3 {
    border-color: var(--green);
}

.offer-2 {
    max-width: 33%;
    padding: 40px 70px;
    border: 2px solid var(--main-color);
    box-shadow: 5px 10px 27px var(--main-shadow);
    border-radius: 18px;
    position: relative;
}

.plan {
    padding: 10px;
    font-size: 20px;
    font-family: Raleway;
    color: var(--black);
    display: flex;
    justify-content: center;
}

.plan-2 {
    box-shadow: 5px 10px 27px var(--main-shadow);
}

.price {
    font-size: 46px;
    font-family: Open Sans;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.limited {
    font-size: 12px;
    font-weight: bold;
    font-family: Raleway;
    display: flex;
    justify-content: center;
}

.offer-1 .price {
    color: var(--red);
}

.offer-2 .price {
    color: var(--main-color);
}

.offer-3 .price {
    color: var(--green);
}

.plan-list li {
    margin: 30px 0;
}

.plan-list li a {
    text-decoration: none;
    font-size: 14px;
    font-family: Open Sans;
    color: var(--black);
    padding: 15px;
    position: relative;
}

.supported::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Checkmark-1.svg");
}

.not-supported::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
}

.offer-1 a[href="/begin"], .offer-3 a[href="/begin"] {
    position: absolute;
    bottom: -25px;
    left: 60px;
    padding: 15px 40px;
    border-radius: 23px;
    background-color: var(--red);
    text-decoration: none;
    color: var(--white);
}

.offer-3 a[href="/begin"] {
    background-color: var(--green);
}

.offer-2 a[href="/begin"] {
    position: absolute;
    bottom: -25px;
    left: 75px;
    padding: 15px 40px;
    border-radius: 23px;
    background-color: var(--main-color);
    text-decoration: none;
    color: var(--white);
}

.contact-section .container {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.questions {
    max-width: 50%;
    padding: 0 100px;
}

.questions-title {
    font-size: 45px;
    font-family: Raleway;
    color: var(--black);
    margin: 20px 0px;
}

.questions-text {
    font-size: 16px;
    font-weight: lighter;
    font-family: Open Sans;
    color: var(--black);
    margin-bottom: 20px;
}
.contact-box {
    display: flex;
    align-items: center;
}

.contact-box p {
    margin-right: 10px;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: lighter;
    color: var(--grey);
}

.contact-box a {
    margin-right: 10px;
}

.contact-form {
    max-width: 50%;
    margin-top: 80px;
}

.contact-form input  {
    width: 65%;
}

form {
    margin: 60px 20px;
    display: flex;
    flex-direction: column;
}
form p {
    margin: 5px 0;
}
input {
    border: 2px solid transparent;
    border-color: transparent transparent var(--grey) transparent;
}

.form-name, .form-email {
    color: var(--main-color);
    font-size: 11px;
    font-family: Open Sans;
    letter-spacing: 3.28px;
}

.checkbox {
    display: flex;
    flex-direction: row;
    position: relative;
}

.agreement {
    display: flex;
    margin: 0 40px;
    color: var(--grey);
    font-size: 12px;
    font-family: Open Sans;
    max-width: 60%;
    margin-top: 20px;
}

form button[type="submit"] {
    display: flex;
    justify-content: center;
    align-self: center;
    box-shadow: 5px 10px 14px var(--main-shadow);
    border-radius: 35px;
    background-color: var(--main-color);
    color: var(--white);
    padding: 15px 60px;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 13px;
    font-family: Open Sans;
    border: 0;
}

.checkbox label input {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border: 2px solid black;
    margin-top: 20px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox input:checked + span {
    background: transparent url('../assets/Checkmark.svg');
    background-position: center;
    background-size: cover;
  }
  
  .custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid var(--grey);
    margin-top: 20px;
    border-radius: 4px;
  }
  
  .checkbox:hover input ~ .custom {
    border: 1px solid var(--main-color);
  }

  footer {
      height: 89px;
      background-color: var(--light-grey);
      box-shadow: 0px -5px 40px #00000029;
  }

  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .copyrights {
    margin-top: 10px;
}

  .social {
      margin-top: 20px;
  }
  