$logo-font: 2rem;
$default-padding: 2.5rem 0;
$nav-font: 0.8rem;
$nav-spacing: 3.28px;
$nav-margin: 0 1.85rem;
$nav-padding: 1.5rem 0;
$raleway: Raleway;
$banner-title-size: 3em;
$banner-padding: 1.25rem;
$sans: Open Sans;
$default-text-size: 1rem;
$stats-margin: 3.75rem 0;
$margin-bottom: 1rem;
$numbers-font-size: 1.25rem;
$numbers-top-margin: 3.2rem;
$opening-font-size: 1.875rem;
$benefits-font: 1rem;
$benefits-margin-bottom: 5.6rem;
$benefits-margin-top: 18rem;
$pricing-left-margin: 1.9rem;
$pricing-padding: 3.125rem 7.5rem;
$pricing-small-padding: 3.1rem 7rem;
$questions-padding: 0 6.25rem;
$questions-margin: 1.25rem 0;
$small-margin: 0.62rem;
$big-margin: 5rem;
$form-margin: 3.75rem 1.25rem;
$tiny-form-margin: 0.32rem 0;
$small-letter-spacing: 0.205rem;
$agreement-margin: 0 2.5rem;
$button-padding: 0.95rem 3.75rem;
$questions-text-margin: 1.87rem 1.25rem;
